############################
# Servers / Tomcat workspace
############################
Servers/
wtpwebapps/
**/.factorypath
.smarttomcat/

############################
# Database / credentials (if any)
############################
# Instead of ignoring ALL properties, consider specifying secrets:
# *.properties
.env
local.properties
config/credentials.properties
